<form method="post" action="{{ path('app_salle_de_sport_delete', {'id': salle_de_sport.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette salle de sport?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salle_de_sport.id) }}">
    <button class="btn btn-danger">
        <i class="ri-delete-bin-line me-2"></i>Supprimer
    </button>
</form>
